<div class="project_div">
  @if (!showExtra2) {
    <div class="inter">
      <b>Lingua Bellum</b><br>
      <img src="https://i16.servimg.com/u/f16/18/17/27/38/captur16.png"> <br>
      Le premier projet étudiant réalisé : un jeu de bataille de rimes.<br>
      Le but du jeu était de gagné le plus de points en faisant des rimes, avec des règles additionnelles possible.<br>
      Réalisé en utilisant JavaScript et est uniquement en local.<br>

      <button (click)="toggleDiv2()">Plus</button>
    </div>
  }

  @else {
    <div class="extra">
      <div class="slider-container2">
        <div class="slider2">
          <div class="slide2">
            <img class="image" src="https://i16.servimg.com/u/f16/18/17/27/38/captur10.png">
            <br>    La page d'accueil du jeu, permettant soit de jouer directement avec des comptes déjà enregistrés ou d'enregistrer un nouveau compte.
          </div>
          <div class="slide2">
            <img class="image" src="https://i16.servimg.com/u/f16/18/17/27/38/captur12.png">
            <br> La page de selection de l'ordre de jeu, ainsi que le possible ajout de règles à la bataille.
          </div>
          <div class="slide2">
            <img class="image" src="https://i16.servimg.com/u/f16/18/17/27/38/captur11.png">
            <br> L'affichage en jeu, où la zone pour écrire change de place en fonction de qui joue, avec un temps limite d'une minute.
          </div>
        </div>
        <button (click)="prevSlide_2()" class="prev-slide2"><</button>
        <button (click)="nextSlide_2()" class="next-slide2">></button>
      </div>
      <button (click)="toggleDiv2()">X</button>
    </div>
  }
</div>
