
.title {
  text-align : center;
  width: 40%;
  margin: 0 auto;
}

.project {
  text-align: center;
  margin: 0 auto;
}

.AM {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
