  <div class="title">
    <b><h1>Mon Portfolio</h1></b>

    Bienvenue sur mon portfolio ! <br>
    Voici la liste de mes projets réalisé dans le but de la réussite de mes études.
  </div>

  <div class="project">
    <h2><b>Mes Projets</b></h2>
    <app-project-1></app-project-1>

    <app-project-2></app-project-2>
  </div>


  <div class="AM">
    <h2><b>À Propos</b></h2>
    Bonjour! <br>
    Je m'appelle Sébastien LOPEZ et je suis un étudiant en 3ème année de Bachelor en Développement Web. <br>
    Je me suis centré, à travers mes projets étudiants, sur la partie back du développement, que ce soit au niveau API ou de l'optimisation du projet.
    Cela ne m'empêche pas de posséder des connaissances en front.
  </div>
