<div class="project_div">
  @if (!showExtra1) {
    <div class="inter">
       <b>EssenceLink</b><br>
      <img src="https://i16.servimg.com/u/f16/18/17/27/38/logo110.png"><br>
      Un site d'E-commerce vendant des produits biologique. <br>
      Il y a deux sections au site, côté client et côté administrateur <br>
      Ce projet comprenait la réalisation d'une API REST en C#.Net et d'un front avec VueJS. <br>

      <button (click)="toggleDiv1()">Plus</button>
    </div>
  }

  @else {
    <div class="extra">
      <div class="slider-container">
        <div class="slider">
          <div class="slide">
            <img class="image" src="https://i16.servimg.com/u/f16/18/17/27/38/captur15.png">
            <br>    La page d'accueil du site.
          </div>
          <div class="slide">
            <img class="image" src="https://i16.servimg.com/u/f16/18/17/27/38/captur13.png">
            <br>    La page d'accueil du site.
          </div>
          <div class="slide">
            <img class="image" src="https://i16.servimg.com/u/f16/18/17/27/38/captur14.png">
            <br> La page d'affichage des produits, utilisé à la fois pour les catégories de produit ou la recherche.
          </div>
        </div>
        <button (click)="prevSlide()" class="prev-slide"><</button>
        <button (click)="nextSlide()" class="next-slide">></button>
      </div>
      <button (click)="toggleDiv1()">X</button>
    </div>
  }
</div>
