.project_div {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.inter {
  background-color: #93ccd6;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.inter img {
  width: 35%;
  position:center;
  height: auto;
}

.inter button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.extra {
  background-color: #93ccd6;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 75%;
  position:center;
  height: auto;
}

.next-slide, .prev-slide   {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.next-slide {
  right: 2rem; /* Distance par rapport au côté droit */
}

.prev-slide {
  left: 2rem; /* Distance par rapport au côté gauche */
}

.extra button {
  position: center;
  cursor: pointer;
}
